* { margin: 0; padding: 0; }

html { height: 100%; }

body {
  font-family: 'Lucida Grande','Trebuchet MS','Bitstream Vera Sans',Verdana,Helvetica,sans-serif;
  min-height: 100%;
  /*font-size: 16px;*/
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: futura, 'century gothic', 'twentieth century', calibri, verdana, helvetica, arial;
}

h1 {
  font-size: 52px;
  padding: 40px 0;
}

p {
  margin: 10px 0;
}

.wrapper {
  margin: 0 auto;
  width: 790px;
}

.image-container {
  margin: 0 auto 40px;
  min-width: 800px;
  background: #eee;
  position: relative;
}

.drop-target {
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  z-index: 1000;
  background: rgba(0, 100, 200, 0.1);
  outline: 5px dashed #00a;
  outline-offset: -5px;
}

.image-container > img,
.image-container > canvas,
.image-container > .placeholder {
  box-shadow: 2px 2px 20px 0px #bbb;
  display: block;
  position: absolute; left: 0; top: -10px;
}

.info-bar {
  background: #222;
  margin: 0; padding: 4px 10px;
  width: 480px;
  color: #fff;
  position: absolute; bottom: -10px; left: 0;
}

.options {
  height: 64px;
}

ul.images {
  list-style: none;
  padding: 0;
}

/* Clearfix hack: http://www.positioniseverything.net/easyclearing.html */
ul.images:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.images li {
  width: 150px;
  margin-right: 10px;
  float: left;
}

ul.images li:last-child {
  margin-right: 0;
}

ul.images li a:hover {
  opacity: 0.8;
}

.caption {
  margin: 4px 0;
}

.caption a {
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
}

.caption a:hover {
  color: #555;
}

.stats {
  position: absolute;
  right: 10px; top: 20px; bottom: 20px;
  color: #444;
  font-size: 12px;
  line-height: 18px;
}

.stats table {
  border-spacing: 0;
}

.stats th {
  text-align: left;
  padding-right: 10px;
}

.label {
  color: #666;
  /*font-variant: small-caps;*/
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
}

.toggle-show-svs {
  margin-top: 20px;
  text-decoration: none;
  font-size: 11px;
  display: inline-block;
  color: inherit;
  padding: 4px 10px;
  border-style: solid;
  border-color: #ccc #ddd #ddd #ccc;
  border-width: 1px 2px 3px 1px;
  background: #f3f3f3;
  cursor: pointer;
}
.toggle-show-svs:hover {
  /*background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);*/
  background: #eee;
}
.toggle-show-svs.active {
  border-color: #666 #888 #888 #666;
  border-width: 2px 1px 1px 2px;
  background: linear-gradient(to bottom, #aaa 0%, #ccc 100%);
}
.toggle-show-svs.active:hover {
  background: linear-gradient(to bottom, #999 0%, #bbb 100%);
}



.hint {
  color: #aaa;
  margin: 0;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  font-size: 11px;
}

.check-box {
  display: inline-block;
  margin-right: 4px;
  font-size: 15px;
}

.toggle-hover-original {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.toggle-hover-original .text {
  text-decoration: line-through;
}

.toggle-hover-original.active .text {
  text-decoration: none;
}

/*
 * Hack to style the file upload button
 * see http://stackoverflow.com/questions/1084925/input-type-file-show-only-button
 */
.file-input-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 5px;
  line-height: 24px;
  overflow: hidden;
  vertical-align: middle;
}

.file-input-button span {
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
}

.file-input-button:hover {
  background: #ddd;
}

.file-input-button input {
  cursor: pointer;
  display: block;
  position: absolute; top: 0; right: 0;
  height: 100%;
  opacity: 0;
  font-size: 40px;
}

.credits {
  font-size: 14px;
  color: #888;
}

.credits a {
  color: #666;
  text-decoration: none;
}

.credits a:hover {
  color: #333;
}
