body {
  font-family: 'Lucida Grande','Trebuchet MS','Bitstream Vera Sans',Verdana,Helvetica,sans-serif;
  /*font-size: 16px;*/
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: futura, 'century gothic', 'twentieth century', calibri, verdana, helvetica, arial;
}

h1 {
  font-size: 52px;
}

.wrapper {
  margin: 40px auto;
  width: 790px;
}

.drop-target {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background: #f3f3f3;
  border: 6px dashed #bbb;
}

.drop-target.hover {
  border-color: #0074D9;
  background: #E3F7FF;
}

.drop-text {
  text-align: center;
  line-height: 80px;
}

.drop-target.has-content {
  padding: 0;
  background: #f3f3f3;
}

.drop-target.has-content .drop-text {
  line-height: 36px;
  padding: 0 0 20px;
  margin: 0;
  background: #e0e0e0;
  border-radius: 14px;
}

.drop-target canvas {
  display: block;
  margin: 0 auto;
}

.drop-target .content {
  margin: -20px 0 0;
  padding: 20px;
  border-radius: 14px;
  background: #f3f3f3;
  position: relative;
}

.approx-info {
  background: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0; padding: 4px;
  width: 480px;
  color: #fff;
  text-align: center;
  position: absolute; bottom: 20px; left: 160px;
}

.options {
  height: 64px;
}

ul.images {
  list-style: none;
  padding: 0;
}

/* Clearfix hack: http://www.positioniseverything.net/easyclearing.html */
ul.images:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.images li {
  width: 150px;
  margin-right: 10px;
  float: left;
}

ul.images li:last-child {
  margin-right: 0;
}

ul.images li a:hover {
  opacity: 0.8;
}

.caption {
  margin: 4px 0;
}

.caption a {
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
}

.caption a:hover {
  color: #555;
}

/*
 * Hack to style the file upload button
 * see http://stackoverflow.com/questions/1084925/input-type-file-show-only-button
 */
.file-input-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 5px;
  line-height: 24px;
  overflow: hidden;
  vertical-align: middle;
}

.file-input-button span {
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
}

.file-input-button:hover {
  background: #ddd;
}

.file-input-button input {
  cursor: pointer;
  display: block;
  position: absolute; top: 0; right: 0;
  height: 100%;
  opacity: 0;
  font-size: 40px;
}

.credits {
  font-size: 14px;
  color: #888;
}

.credits a {
  color: #666;
  text-decoration: none;
}

.credits a:hover {
  color: #333;
}